.border {
       border: 1px solid; 
       
}

.wadah {
    width: 1000px;
    margin: auto;
}


li:hover{
    background-color: rgb(227, 143, 185);
}
 
h2 {
   background-image: linear-gradient(rgb(230, 217, 151), rgb(164, 114, 169));
   
}

 p::first-letter {
    color: rgb(234, 191, 134);
    font-size: xx-large;
 }

.display{
    display: inline-block;
    padding: 2%;
}


.warna {
    background-image: linear-gradient(rgb(160, 30, 112),rgb(202, 172, 189));
}



img {
    width: 200px;
}

.card {
    width: 30%;
    padding: 5%;
    box-sizing: border-box;
}

.horizontal {
    padding: 10px;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.rata {
    text-align: center;
}