body{
    background-color: blanchedalmond;
    text-align: center;
}


div {
border: 2px solid rgb(11, 5, 5);
margin: 100px 0px 0px 50px;
margin-left: 200px;
margin-right:200px;

padding-top: 20px;


}

table {
    margin-left: 300px;
}

nav {
    border: 3px solid black;
}


img{
    width: 200px;
}

/*nav {
    margin-left: 100px;
}*/

.batas {
    margin-left: 10px;

} 

.batas ol {
    text-align: left;
    margin-left: 300px;

}
.warna{
    background-color: rgb(201, 88, 141);
}

#background {
    background-color: rgb(212, 113, 145);
    
}

#kiri {
    margin-left: 200px;
}

